{{#extend 'layout' title="Home" body-class="index" dummyVar="dummyVarExample" }}
	{{#content 'body' }}
		{{! The 'index' in 'index.hello' is the filename in the data folder }}
		<h1>hello, {{ index.hello }}!</h1>
		<span>{{dummyVar}}</span>

		{{#atom-example '{"title":"example atom"}'}}{{/atom-example}}
	{{/content}}

	{{#content 'scripts'}}
		<script src="/js/template/index.js"></script>
	{{/content}}

{{/extend}}