{{#extend 'layout-alt' title="Alt" body-class="index-alt" dummyVar="Alt var" }}
	{{#content 'body' }}
		{{! The 'index' in 'index.hello' is the filename in the data folder }}
		<h1>hello, alternate {{ index.hello }}!</h1>
		<span>{{dummyVar}}</span>
	{{/content}}

	{{#content 'scripts'}}
		<script src="/js/template/index.js"></script>
	{{/content}}

{{/extend}}